html{
    margin:0;
    padding:0;
    background-color: #42A5F5 !important;
}
.topo{
    height: 25px;
    line-height: 25px;  
}
.home{
    float:left;
    width: 20%;
}
.menu{
    float:left;
    width: 79%;
    text-align: right;
    padding-right: 1%;
}
.home i{
    color:white;
}
.menu a{
    color:white;
    text-decoration: none;
    font-size: 8pt;
}
.caixa{
    margin-top:10px;
    box-sizing: border-box;
}
.caixa a{
    color:black;
}

@media only screen and (max-width: 992px){
    .brand-logo{
        left:7% !important;
    }
}

.botao{
    position: fixed;
    bottom: 0;
    background-color: #0EB983;
}
.controles{
    position: fixed;
    bottom:0;
    z-index: 999 !important;
}
input[type="range"] {
    background-color: rgba(0,0,0,0);
    border:none;
}
input[type="range" i] {
    background-color: rgba(0,0,0,0) !important;
    border:none;
}